@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

@font-face {
  font-family: "Booter - Zero Zero";
  src: url("fonts/Booter - Zero Zero.woff") format("woff"), url("fonts/Booter - Zero Zero.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
}


html, body {
  margin: 0;
  padding: 0;
}

.nav ul{
  margin: 0;
}

.nav li{
  display: inline;
}

.nav a{
  display: inline-block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.nav a:hover{
  background-color: rgba(255, 255, 255, .3)
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  /* Nav at top or bottom */
  border-top: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li{
  margin: 0 5%;
}

.main-header {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, .6);
  background-size: cover;
}

.main-header-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.header-content {
  color: white;
  margin: 40px 0;
  width: 50%;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.2em;
}

.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.main-footer {
  display: flex;
  background-color: #888;
  color: white;
  padding: .25em 0;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.main-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.footer-content {
  color: white;
  text-align: center;
  width: 30%;
}

.footer-nav{
  /*     top, bottom   */
  padding: 0 .5em;
  align-items: center;
}

.footer-nav a{
  display: block;
  color: white;
}

.footer-socials img{
  margin: .5em;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.footer-socials img:hover {
  background-color: #777;
}

.slideshow-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-image {
  align-self: center;
  margin: 2em 0;
  max-height: 600px;
  max-width: 75%;
  transition: .5s;
  z-index: 0;
}

.slideshow-transition-image {
  position: absolute;
  max-height: 600px;
  max-width: 75%;
  opacity: 0;
  transition: .5s;
  z-index: 1;
}

.arrow {
  position: relative;
  padding: .5em;
  margin: 1em;
  width: 50px;
  height: 50px;
  opacity: .5;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  z-index: 2;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.arrow-right {
  right: 80px;
}

.arrow-left {
  left: 80px;
}

.paragraph-description {
  margin-bottom: 2em;
  font-size: 1.2em;
}

.main-product-container {
  display: flex;
  flex-direction: column;
}

.single-product-container {
  margin: 0;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0;
  margin: 0 12%;
}

.product-header:hover {
  background-color: rgba(0, 0, 0, .3);
}

.product-header-element {
  margin: 0 3%;
  font-size: 2rem;
}

.product-title {
  pointer-events: none;
}

.product-expand {
  height: 1.5em;
  width: 1.5em;
  pointer-events: none;
}

.product-summary {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  position: absolute;
  visibility: hidden;
}

.product-summary-text {
  margin: .5em .5em;
  font-size: 150%;
}

.product-summary-content {
  display: flex;
  flex-direction: row;
}

.product-summary-image {
  object-fit: cover;
  width: 50%;
  height: 50%;
  overflow: hidden;
}

.product-summary-btn {
  width: 50%;
  margin: auto 10%;
  padding: 5% 10%;
  font-size: 2em;
  border: 1px solid #999;
  background-color: #aaa
  transition: .5s
}

.product-summary-btn:hover {
  background-color: #999;
  border: 1px solid #666;
}
